.LayoutNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 1em;
}
.LayoutNavItem {
  text-decoration: none;
  font-size: 1.14rem;
  font-weight: 700;
}
